<div ng-controller="searchCtrl" class="text-center">

<!-- 	<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"></span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">


	<button ng-click="test()"></button>
	{{print}} -->
	<form>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="flightDetails" placeholder="TK720">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
</div>


